
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    Iniciar sesión
    <form asp-action="IniciarSesion">
        <input type="submit" value="Iniciar Sesion"  />
    </form>
</center>

