@{
    ViewData["Title"] = "MenuU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bienvenido</h1> <br/>
<h5>La funcionalidad para usuario aun no está implementada, inicia sesión como administrador</h5>