
@{
    ViewData["Title"] = "MenuSA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center> <h1>Menu Super Administrador</h1></center>
Administradores: <br />
<a asp-controller="Actors" asp-action="Agregar">Registrar un Administrador</a><br />
<a asp-controller="Actors" asp-action="Index">Mostrar Administradores</a>
<br />
<br />
Usuarios:<br />
Mostrar información<br />

Recetas:<br />
Eliminar recetas<br />