
@{
    ViewData["Title"] = "MenuSA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center> <h1>MenuSA</h1></center>
Administradores:
<a href="Views/Actors/Create">Registrar</a>
Registrar
Mostrar Información

Usuarios:
Mostrar información

Recetas:
Eliminar recetas