
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <table class="egt">
        <tr>
                <td><h1>Bienvenido @ViewData["nombre"]</h1></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button>Cerrar sesión</button></td>
        </tr>
    </table>
</center>

