@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h5>Para usar la aplicación, favor de registrarse o inicar sesión</h5>
</div>
