@model Recetario.Areas.Administradores.Models.VActor


@{
    ViewData["Title"] = "Iniciar Sesion";
}

@if (User.Identity.IsAuthenticated)
{
    <h3>Bienvenido, @User.Identity.Name</h3>
    <p>Para cambiar de usuario, cierra la sesión</p>
}
else
{

    <h1>Iniciar Sesión</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Cuentas" asp-action="IniciarSesion">
                <div class="form-group">
                    <label class="control-label">Usuario</label>
                    <input asp-for="Usuario" class="form-control" />
                    <span asp-validation-for="Usuario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contrasena" class="control-label"></label>
                    <input asp-for="Contrasena" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Validar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Regresar</a>
    </div>


}