@model Recetario.Areas.Administradores.Models.VActor


@{
    ViewData["Title"] = "Registrado";
}
    <h1>Registrado</h1>
    <br />
    <h4>Registro correcto, por favor inicia sesión</h4>

<a asp-area="Administradores" asp-controller="Menus" asp-action="MenuSA">Regresa al menú principal</a>