@model Recetario.BaseDatos.AppUser

@{
    ViewData["Title"] = "Registrado";
}
@if (User.Identity.IsAuthenticated)
{
    <h1>Registrado</h1>
    <br />
    <h3>Bienvenido, @User.Identity.Name</h3>
}
else
{
    <h1>Error al tratar de hacer el registro</h1>
}

<a asp-area="Administradores" asp-controller="Menus" asp-action="MenuSA">Regresa al menú principal</a>